<link href="../../../assets/css/main/profile.css" rel="stylesheet" />
<!--===========================================================================================-->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Perfil</h1>
                <div class="row">
                    <div class="col-md-3">
                        <!-- Profile Image -->
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <img class="profile-user-img img-responsive img-circle centrado" src="../../../assets/img/logos/user.jpg" alt="User profile picture">
                                <h3 class="profile-username text-center">John Doe</h3>
                                <p class="text-muted text-center">Propietario</p>
                                <br>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">Informacion Básica</div>
                            <div class="panel-body">
                                <table class="table table-condensed">
                                    <tr>
                                        <th>Cedula</th>
                                        <td>123456789</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>John</td>
                                    </tr>
                                    <tr>
                                        <th>Apellidos</th>
                                        <td>Doe</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha de nacimiento</th>
                                        <td>Enero 12 de 1980</td>
                                    </tr>
                                    <tr>
                                        <th>Correo electrónico</th>
                                        <td>Johndoe@home.com</td>
                                    </tr>
                                    <tr>
                                        <th>Dirección</th>
                                        <td>2919 S Lake Stevens Rd, Lake Stevens, WA, 98258</td>
                                    </tr>
                                    <tr>
                                        <th>Teléfono</th>
                                        <td>Johndoe@home.com</td>
                                    </tr>
                                    <tr>
                                        <th>Móvil</th>
                                        <td>601-207-0215</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Informacion de la cuenta</div>
                            <div class="panel-body">
                                <table class="table table-condensed"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

