<link href="../../../assets/css/main/signUpComplete.css" rel="stylesheet" />

<div class="container">
    <div id="rootwizard">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul>
                        <li><a href="#tab1" data-toggle="tab">Paso 1</a></li>
                        <li><a href="#tab2" data-toggle="tab">Paso 2</a></li>
                        <li><a href="#tab3" data-toggle="tab">Paso 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <form role="form" id="userForm" class="form-horizontal">
                    <div class="col-md-12 col-xs-12">
                        <div class="page-header"><h2>Registro</h2></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Correo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Correo electrónico" data-ng-model="usuario.correo" data-error="Este campo es obligatorio" disabled="disabled"required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputIdentificacion" class="col-sm-2 control-label">Identificación</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Identificación" data-ng-model="usuario.cedula" required disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputNombre" class="col-sm-2 control-label">Nombres</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nombre" data-ng-model="usuario.nombre" data-error="Este campo es obligatorio" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputApellidos" class="col-sm-2 control-label">Apellidos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Apellidos" data-ng-model="usuario.apellidos" data-error="Este campo es obligatorio" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="inputFecha" class="col-sm-2 control-label">Fecha de nacimiento</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" placeholder="dd/mm/aaaa" data-ng-model="usuario.fechaNacimiento" data-error="Este campo es obligatorio" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDireccion" class="col-sm-2 control-label">Dirección</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Dirección" data-ng-model="usuario.direccion" data-error="Este campo es obligatorio" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="inputTelefono" class="col-sm-2 control-label">Teléfono</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" placeholder="Teléfono" data-ng-model="usuario.telefono"  data-error="Este campo es obligatorio" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="inputMovil" class="col-sm-2 control-label">Móvil</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" placeholder="Móvil" data-ng-model="usuario.movil">
                                </div>
                            </div>     
                        </div>
                        <div class="form-group centrado">
                            <button type="submit" class="btn btn-primary btn-lg nextBtn" ng-click="GuardarUsuario(usuario)">Guardar</button>
                        </div> 
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="col-md-12 col-xs-12">
                    <div class="page-header">
                        <h2>Terminos y condiciones</h2>
                    </div>
                    <div class="form-group">
                        <p class="acta">
                            1. Introducción

                            Las presentes condiciones generales de uso de la página web, regulan los términos y condiciones de acceso y uso de www.direcciónweb.com, propiedad de (indicar el nombre de la empresa o profesional propietario de el portal), con domicilio en (indicar) y con Código de Identificación Fiscal número (indicar), en adelante, «la Empresa», que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el portal. El mero acceso y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso.

                            2. Condiciones de uso

                            Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas.

                            3.   Modificaciones

                            La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.

                            4. Obligaciones del Usuario

                            El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.

                            Así mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.

                            5. Responsabilidad del portal

                            El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal.

                            Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal.

                            En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.

                            6. Propiedad intelectual e industrial

                            Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido.

                            En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal.

                            7. Legislación aplicable, jurisdicción competente y notificaciones

                            Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de España. Para cualquier reclamación serán competentes los juzgados y tribunales de (indicar la ciudad). Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Empresa titular del Portal deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección (indicar dirección de correo en la que se desean recibir las notificaciones).

                        </p>
                    </div>
                    <div class="form-group centrado">
                        <input type="checkbox" class="enlinea" ng-model="fases.paso2" required /><p class="enlinea">&nbsp; Acepto los terminos y condiciones </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="col-xs-12 col-md-12">
                    <form role="form" id="accountForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Nombre de usuario</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Usuario" data-ng-model="cuenta.nombreUsuario" data-error="Este campo es obligatorio" required autofocus>
                                <div class="help-block with-errors"></div>    
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Contraseña</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" data-ng-model="cuenta.contrasena" dat-error="Mínimo 6 caracteres" a data-minlength="6" required>
                                <div class="help-block with-errors"></div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Confirmar Contraseña</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" data-match="#inputPassword" data-match-error="Las contraseñas no coinciden." required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group centrado">
                            <button class="btn btn-success btn-lg nextBtn" type="submit" ng-click="GuardarCuenta(cuenta)">Finalizar</button>
                        </div>  
                        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                            {{message}}
                        </div>
                    </form>
                </div>
                    
            </div>
            <ul class="pager wizard">
                <li class="previous tabBtn"><a href="">Anterior</a></li>
                <li class="next last" style="display:none;"><a href="">Finalizar</a></li>
                <li class="next tabBtn"><a href="">Siguiente</a></li>
            </ul>
        </div>
    </div>

</div>



 src="../../../assets/js/main/signUpComplete.js"></script>