<link href="../../../assets/css/main/signUpComplete.css" rel="stylesheet" />

<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary">1</a>
                <p>Paso 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default" disabled="disabled">2</a>
                <p>Paso 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default" disabled="disabled">3</a>
                <p>Paso 3</p>
            </div>
        </div>
    </div>
    <form role="form">
        <div class="row setup-content" id="step-1">
            <div class="col-md-12 col-xs-12">
                <h2 class="form-login-heading">Registro</h2>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Identificación" data-ng-model="registration.cedula" required autofocus disabled="disabled">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre" data-ng-model="registration.nombre" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Apellidos" data-ng-model="registration.apellidos" required>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento" data-ng-model="registration.fecnac" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Correo electrónico" data-ng-model="registration.firstName" required autofocus disabled="disabled">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Dirección" data-ng-model="registration.direccion" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Telefono" data-ng-model="registration.password" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Usuario" data-ng-model="registration.userName" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" data-ng-model="registration.password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirmar contraseña" data-ng-model="registration.confirmPassword" required>
                    </div>
                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
            
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="col-xs-12">
                        <h3>Terminos y condiciones</h3>
                        <div class="form-group">
                            <p>
                                1. Introducción

                                Las presentes condiciones generales de uso de la página web, regulan los términos y condiciones de acceso y uso de www.direcciónweb.com, propiedad de (indicar el nombre de la empresa o profesional propietario de el portal), con domicilio en (indicar) y con Código de Identificación Fiscal número (indicar), en adelante, «la Empresa», que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el portal. El mero acceso y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso.

                                2. Condiciones de uso

                                Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas.

                                3.   Modificaciones

                                La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.

                                4. Obligaciones del Usuario

                                El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.

                                Así mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.

                                5. Responsabilidad del portal

                                El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal.

                                Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal.

                                En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.

                                6. Propiedad intelectual e industrial

                                Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido.

                                En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal.

                                7. Legislación aplicable, jurisdicción competente y notificaciones

                                Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de España. Para cualquier reclamación serán competentes los juzgados y tribunales de (indicar la ciudad). Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Empresa titular del Portal deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección (indicar dirección de correo en la que se desean recibir las notificaciones).


                            </p>
                        </div>
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="../../../assets/js/main/signUpComplete.js"></script>